# Blue Iris API credentials. Bound to BlueIris:* options class.
BLUEIRIS__BASEURL=http://blueiris.lan:81
BLUEIRIS__USERNAME=
BLUEIRIS__PASSWORD=

# Pushover credentials. Bound to Pushover:* options class.
PUSHOVER__APITOKEN=
PUSHOVER__USERKEY=

# Optional: OpenTelemetry OTLP exporter endpoint.
# OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector.lan:4317
# OTEL_EXPORTER_OTLP_PROTOCOL=http/protobuf   # uncomment if HTTP/2 issues on Alpine
